[user]
	name = Cameron Walsh
	email = cameron.walsh@bigcommerce.com
[alias]
        l = "log --graph --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %an%C(green): %s %C(white) (%ar%Creset)\""
        rl = "reflog --pretty=\"format:%C(yellow)%h%Cblue%d%Creset %an%C(green): %s %C(white) (%ar%Creset)\""
        assume = "update-index --assume-unchanged"
        unassume = "update-index --no-assume-unchanged"
[push]
	default = upstream
[core]
	editor = vim
	excludesfile = /Users/cameron.walsh/.gitignore_global
[color]
	ui = true
[help]
	autocorrect = 1
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@github.com:bigcommerce/"]
	insteadOf = https://github.com/bigcommerce/
[url "git@github.com:bigcommerce-labs/"]
	insteadOf = https://github.com/bigcommerce-labs/
[pull]
	ff = only
